<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ver Imagens para <%= ip %></title>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f0f0f0;
      margin: 0;
      padding: 20px;
    }
    h1 {
      margin-bottom: 20px;
      color: #333;
    }
    .images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .images img {
      max-width: 1000px;
      margin: 10px;
      border: 2px solid #4caf50;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .terminal {
      background-color: #282c34;
      color: #61dafb;
      padding: 20px;
      border-radius: 10px;
      margin-top: 20px;
      width: 600px;
      max-width: 100%;
      max-height: 400px;
      overflow-y: auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .input-container {
      display: flex;
      margin-top: 10px;
    }
    .input-container input {
      flex: 1;
      padding: 10px;
      border: 2px solid #61dafb;
      border-radius: 5px;
      font-size: 14px;
    }
    .button {
      background-color: #61dafb;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin-left: 10px;
      cursor: pointer;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <h1>Imagens para <%= ip %></h1>
  <div class="images">
    <img id="renderImage" src="/render-image/<%= ip %>" alt="Imagem Renderizada">
  </div>
  <div class="terminal" id="terminal">
    <div id="terminalOutput">A saída do terminal aparecerá aqui...</div>
    <div class="input-container">
      <input type="text" id="commandInput" placeholder="Digite um comando">
      <button class="button" onclick="executeCommand()">Executar</button>
    </div>
  </div>
  <script>
    function updateImage() {
      var img = document.getElementById('renderImage');
      var newImg = new Image();
      newImg.onload = function() {
        img.src = newImg.src;
      };
      newImg.src = '/render-image/<%= ip %>?' + new Date().getTime();
    }
    
    // Atualiza a cada 1 segundo (1000ms)
    setInterval(updateImage, 1000);

    // Carregar imagem inicialmente
    updateImage();
    
    function executeCommand() {
      var commandInput = document.getElementById('commandInput');
      var command = commandInput.value;
      console.log('Executando comando:', command);
      commandInput.value = ''; // Limpar a entrada
      // Enviar o comando para o servidor
      fetch('/send-command', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ cmd: command })
      })
      .then(response => {
        if (response.ok) {
          console.log('Comando enviado com sucesso.');
          // Adicionar o comando ao terminal
          var terminalOutput = document.getElementById('terminalOutput');
          terminalOutput.innerHTML += '<div>$ ' + command + '</div>';
        } else {
          console.error('Falha ao enviar comando:', response.statusText);
        }
      })
      .catch(error => console.error('Erro ao enviar comando:', error));
    }
    
    // Função para adicionar a saída ao terminal
    function appendToTerminal(output) {
      var terminalOutput = document.getElementById('terminalOutput');
      terminalOutput.innerHTML += '<div>' + output + '</div>';
      terminalOutput.scrollTop = terminalOutput.scrollHeight; // Manter o scroll no final
    }
    
    // Função para buscar continuamente os resultados do servidor
    function fetchResults() {
      fetch('/result-executed')
      .then(response => {
        if (response.ok) {
          return response.text();
        } else {
          throw new Error('Falha ao buscar resultado');
        }
      })
      .then(result => {
        if (result) {
          console.log('Resultado recebido:', result);
          appendToTerminal(result); // Adicionar o resultado ao terminal
        }
      })
      .catch(error => console.error('Erro ao buscar resultado:', error))
      .finally(() => setTimeout(fetchResults, 1000)); // Buscar novamente após 1 segundo
    }
    
    fetchResults();
  </script>
</body>
</html>
